#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    justify-self: end;
    align-self: center;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.button {
    letter-spacing: -0.5px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    background: #e3e3e3;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #999;
    grid-column: 3 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
}

.button-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 100px;
    right: 250px;
    cursor: pointer;
    z-index: 3;
    background-image: url('../assets/lightbox/croix.png');
}

.fullBg,
.available900,
.dvd900,
.footer900,
.mediainfo900 {
    height: 600px;
    width: 940px;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: center;
    background-repeat: no-repeat;
    z-index: 4;
}

.fullBg {
    background: url("../assets/lightbox/bg900.png") center center;
    display: grid;
}

.available900 {
    background: url("../assets/lightbox/available900.png") center center;
}

.dvd900 {
    background: url("../assets/lightbox/dvd900.png") center center;
}

.footer900 {
    background: url("../assets/lightbox/footer900.png") center center;
}

.join900 {
    background: url("../assets/lightbox/join900.png") center center no-repeat;
}

.mediainfo900 {
    background: url("../assets/lightbox/mediainfo900.png") center center;
}
.close {
    background-image: url("../assets/lightbox/cross900.png") center center no-repeat;
    cursor: pointer;
    z-index: 5;
}