#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    justify-self: end;
    align-self: center;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


#close {
    
    width: 24px;
    height: 25px;
    position: absolute;
    top: 35px;
    right:35px;
    cursor: pointer;
    z-index: 5;
    background: url('../assets/lightbox/cross900.png');
}

.fullBg,
.available900,
.dvd900,
.footer900,
.mediainfo900 {
    height: 600px;
    width: 940px;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: center;
    background-repeat: no-repeat;
    z-index: 4;
}

.fullBg {
    background: url("../assets/lightbox/bg900.png") center center;
    display: grid;
    position: relative;
}

.available900 {
    background: url("../assets/lightbox/available900.png") center center;
}

.dvd900 {
    background: url("../assets/lightbox/dvd900.png") center center;
}

.footer900 {
    background: url("../assets/lightbox/footer900.png") center center;
}

.join900 {
    background: url("../assets/lightbox/join900.png") center center no-repeat;
    width: 117px;
    height: 59px;
    z-index: 6;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right:500px;

    -webkit-animation-name:  pulse;
    animation-name:  pulse;
    animation-duration:  2s;
    -webkit-animation-duration: 2s;
    animation-delay:  8s;
    -webkit-animation-animation-delay:  8s;
    animation-iteration-count:  infinite;
    -webkit-animation-iteration-count:  infinite;
    animation-fill-mode: both;

}

.mediainfo900 {
    background: url("../assets/lightbox/mediainfo900.png") center center;
}
